@page
@model Proiect.Pages.Produse.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produs.DenumireProdus" class="control-label"></label>
                <input asp-for="Produs.DenumireProdus" class="form-control" />
                <span asp-validation-for="Produs.DenumireProdus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.Descriere" class="control-label"></label>
                <input asp-for="Produs.Descriere" class="form-control" />
                <span asp-validation-for="Produs.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.Pret" class="control-label"></label>
                <input asp-for="Produs.Pret" class="form-control" />
                <span asp-validation-for="Produs.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produs.PublishingDate" class="control-label">  </label>
                <input asp-for="Produs.PublishingDate" class="form-control" />
                <span asp-validation-for=" Produs.PublishingDate" class="text-danger"> </span>
            </div>
            <label asp-for="Produs.ProducatorID" class="control-label">Nume producator</label>
            <select asp-for="Produs.ProducatorID" class="form-control" asp-items="ViewBag.ProducatorID"></select>
            <span asp-validation-for="Produs.ProducatorID" class="text-danger"></span>
            <div class ="form-group">
                <div class ="table">
                    <table>
                    <tr>
                        @{
                            int cnt = 0;
                            foreach (var cat in Model.AssignedCategoryDataList)
                {
                    if (cnt++ % 3 == 0)
                    {
                                    @:</tr><tr>
                        }
                                @:<td>
                        <input type ="checkbox"
                               name="selectedCategorii"
                               value="@cat.CategorieID" 
                               @(Html.Raw(cat.Atribuit ? 
"checked=\"checked\"" : "")) />
                               @cat.CategorieID @:  @cat.Nume
                        @:</td>
                        }
                            @:</tr>
                    }
                    </table>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        </form>
        </div>
        </div>

        <div>
            <a asp-page="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
